<v-container fluid>
  <v-layout
    row
    justify-space-between
    v-for="(om,key,index) in props.item.Membri"
    :key="key"
    :class="{BtmBorder: index< Object.keys(props.item.Membri).length-1}"
  >
    <v-layout justify-start> {{ om.Prenume }} </v-layout>
    <v-layout justify-center>
      <v-icon class="green--text" v-if="om.Sosit ">check</v-icon>
      <v-icon v-else class="orange--text">directions_run</v-icon>
    </v-layout>
    <v-layout justify-end>
      <v-btn
        flat
        icon
        small
        class="accent"
        :to="{name:'editInvitat',params:{gid:om.GId},query:{memid:key}}"
      >
        <v-icon small>edit</v-icon>
      </v-btn>
    </v-layout>
  </v-layout>
</v-container>
