<template>
    <!-- Main content -->
    <v-container fluid>
        <v-layout row wrap justify-center>
            <v-flex xs6>

                <v-form ref="form" v-model="valid" lazy-validation>
                    <v-text-field
                        v-model="invitat.famID"
                        :rules="noBlankRules"
                        label="FamID"
                        required></v-text-field>
                    <v-text-field
                        v-model="invitat.familia"
                        :rules="noBlankRules"
                        label="Familia"></v-text-field>
                    <v-text-field
                        v-model="invitat.prenume"
                        :rules="noBlankRules"
                        label="Prenume"
                        required></v-text-field>
                    <v-text-field
                        v-model="invitat.locatie"
                        :rules="noBlankRules"
                        label="Locatie"></v-text-field>
                    <v-text-field
                        v-model="invitat.masa"
                        :rules="noBlankRules"
                        label="Masa"
                        required></v-text-field>
                    <v-text-field
                        v-model="invitat.loc"
                        :rules="noBlankRules"
                        label="Loc"
                        required></v-text-field>
                    <v-select
                        v-model="invitat.status"
                        :items="statuses"
                        box
                        label="Status"></v-select>


                </v-form>
            </v-flex>
        </v-layout>
        <v-footer class="pa-3">
            <v-btn left @click="submit" color="accent">Update</v-btn>
            <v-spacer></v-spacer>
            <v-btn icon
                right
                @click="deleteOm()" color="error"><v-icon>delete_forever</v-icon></v-btn>
        </v-footer>
    </v-container>
</template>